main {
  padding-top: 60px;
}

#navbar {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  border-bottom: 1px solid silver;
}

ul.nav a:hover {
  background-color: rgba(255, 255, 255, 0) !important;
  border-bottom: 1px solid red;
  padding-bottom: 9px; 
}


/*ul {
  list-style-type: none;
  padding-left: 0px;
}

li.menu-content {
  padding: 10px;
  border-bottom: : 2px;
  border-color: silver;

}

li.menu-content:hover {
  border-bottom: 2px solid red;
}

a {
 text-decoration: none;
 color: red;
}*/
