main {
  padding-top: 60px;
}

#navbar {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.85);
  width: 100%;
  border-bottom: 1px solid silver;
  z-index: 20;
}

.navbar-brand {
  color: #372248
}

ul.nav li:hover {
  background-color: rgba(255, 255, 255, 0) !important;
  /*border-bottom: 3px solid #F46036;*/

}

a.menu-content:hover {
  background-color: rgba(255, 255, 255, 0) !important;
  /*padding-bottom: 7px !important;*/
  color: #F46036
}

a.menu-content {
  padding-bottom: 10px !important;
  text-align: right;
  color: #171123;
  /*border-bottom: 3px !important;*/
  /*border-color: gba(255, 255, 255, 0) !important;*/
}




#main-div {
  width: 60vmin;
  height: 60vmin;
  margin-top: 10vmin;
  margin-bottom: 10vmin;
  background-color: #372248;
  left: 10%;
  position: relative;
}

.text-in-main-div{
  font-size: 10vmin;
  vertical-align: middle;
  padding-top: 15vmin;
  color: silver;
  text-align: center;
}

.home-menu {
  list-style: none;
  margin-top: 20vmin;
}

.home-menu-route {
  font-size: 5vmin;
  text-align: right;
  font-size: 5vmin;
  margin: 3px;
  color: #F46036
}

li a:hover {
  text-decoration: none;
}

.home-menu-route:hover {
  color: #171123;
}

#about {
  background-color: #ececf0;
  width: 100%;
  padding: 5%;
}

p {
  color: #171123;
}

a.link-in-text, a.text-link {
  color: #5B85AA;
}

p a:hover, a.text-link:hover {
  text-decoration: none;
  color: #F46036;
}

h1.grey-heading {
  color: #F46036;
}

#portfolio {
  width: 100%;
  padding: 5%;
}

.project {
  text-align: center;
  padding-top: 15px;
}

.project-icon {
  width: 300px;
}

.project-description {
  text-align: left;
}

.rest-easy-add-border {
  border-top: 23.5px solid #171123;
  border-bottom: 23.5px solid #171123;
}

#contact-me {
  background-color: #ececf0;
  width: 100%;
  padding: 5%;
}

.icons {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #171123;
}

.fa:hover {
  color: #F46036;
}
